*{
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  box-sizing: border-box;
}

body{
  font: 0.8em YS Text,Arial,Helvetica,sans-serif;
}

ul{
  list-style-type: none;
}

.drop-list{
  background-color: #eee;
  font-size: 20px;
  border-radius: 10px;
  padding: 25px;
}

.ddmenu>li{
  display: flex;
  justify-content: center;
}

.hidden{
  display: none;
}